*{
          margin: 0; padding: 0; font-family: 'Times New Roman', Times, serif;
}
body{
          background-color: dodgerblue;
}
.all-box{
          align-items: center; justify-content: center; display: flex; height: 100vh;
.ai-box1{
          background-color: rgb(38, 255, 30); border-radius: 50%; padding: 50px 50px; margin: 20px; transition: all 0.4s;   
}
.ai-box2{
          background-color: rgb(255, 75, 30); border-radius: 50%; padding: 50px 50px;  margin: 20px;
}
.ai-box3{
          background-color: rgb(233, 255, 30); border-radius: 50%; padding: 50px 50px;  margin: 20px;
}
.ai-box1:hover{
          box-shadow: 0px 0px 50px 20px rgb(105, 247, 101) ; transition: all 0.4s; cursor: pointer;
}
.ai-box2:hover{
          box-shadow: 0px 0px 50px 20px rgb(247, 130, 101) ; transition: all 0.4s; cursor: pointer;
}
.ai-box3:hover{
          box-shadow: 0px 0px 50px 20px rgb(237, 247, 101) ; transition: all 0.4s; cursor: pointer;
}